/* Dark Theme "Galaxy" */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  h1, h2, h3 {
    color: #e0e0e0;
  }
  
  button {
    background-color: #8a2be2;
    border: none;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #9c51ff;
  }
  
  /* Centrage du logo */
  .header {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .header img {
    width: 250px;
  }
  